@import '../abstracts/_typography.scss';

/**
 * Basic typography style for copy text.
 */
html, body {
  color: $text-color;
  line-height: 1.4;
  font-weight: normal;
  font-family: $text-font-stack;
}

/**
 * Initializing of typi.
 */
@include make-typography;

.h1, .h2, .h3 {
  @include heading;
}

.text-lg {
  font-size: 18px;

  @include media-breakpoint-up(md) {
    font-size: 21px;
  }
}
