@import '../abstracts/functions';

.accent {
  display: block;
  padding: 0.4em 0.6em;
  line-height: 1.2;
  font-size: 19px;
  font-weight: bold;
  background: color(secondary, light);
  color: #FFF;

  &:before {
    @include media-breakpoint-up(md) {
      content: '•';
      display: inline-block;
      margin-right: 0.3em;
    }
  }

  @include media-breakpoint-up(md) {
    font-size: 23px;
  }

  &--large {
    background: color(secondary);

    @include media-breakpoint-up(md) {
      font-size: 25px;
    }

    @include media-breakpoint-up(xl) {
      font-size: 30px;
    }
  }
}
