.search-btn {
  display: inline-block;
  vertical-align: middle;

  &__search-icon {
    display: inline-block;
    vertical-align: middle;

    @at-root .search-btn--active & {
      display: none;
    }
  }

  &__close-icon {
    display: none;

    @at-root .search-btn--active & {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
