@import '../abstracts/functions';

.show-more {
  padding-left: $content-container-padding-x;
  padding-right: $content-container-padding-x;
  font-size: 13px;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background: color(white);

  &--reversed-colors {
    background: color(primary);
  }

  @include media-breakpoint-up(md) {
    padding-left: $short-news-padding-x-md;
    padding-right: $short-news-padding-x-md;
  }

  &__icon {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
  }

  &__path {
    fill: color(primary);

    @at-root .show-more--reversed-colors & {
      fill: color(white)
    }
  }

  &__link {
    display: block;
    color: #fff;
    text-transform: lowercase;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}
