// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Colors
// 1e488f (темносиній):
//   - Menu items background
//   - Button background
//   - Колір плиток
//   - Колір лейбів для статтей
// 8bb847 (Світло салатовий):
//   - Колір плиточки
// 6aa535 (Салатовий):
//   - Колір плиточки
// fff (white): Menu items color
// a7397d (рожей з бордовим): Колір першої лінії

/// The names of color were taken from site http://chir.ag/projects/name-that-color/#1E488F.
$color-base-key: 'base' !default;
$color-sunglow: #fbcb34 !default;
$color-mandy: #ed4f71 !default;
$color-light-orchid: #dfa5c2 !default;
$color-conifer: #80d851 !default;
$color-pastel-green: #7ce568 !default;
$color-aquamarine-blue: #67e3d6 !default;
$color-light-blue: #00cbe3 !default;
$color-spring-green: #00fe62 !default;

/// The storage of all colors that are used on site.
/// If there are similar colors we create map.
/// We namespace this variable because some frameworks like bootstrap can have variable 'color'.
$knife-colors: (
  secondary: (
    base: #6aa535,
    light: #8bb847
  ),
  text: (
    base: #000
  ),
  primary: #1e488f,
  accent: #a7397d,
  sunglow: $color-sunglow,
  mandy: $color-mandy,
  light-orchid: $color-light-orchid,
  conifer: $color-conifer,
  pastel-green: $color-pastel-green,
  aquamarine-blue: $color-aquamarine-blue,
  light-blue: $color-light-blue,
  spring-green: $color-spring-green
);

$knife-gradients: (
  sunglow-to-mandy: (90deg, $color-sunglow, $color-mandy),
  light-orchid-to-conifer: (90deg, $color-light-orchid, $color-conifer),
  pastel-green-to-aquamarine-blue: (90deg, $color-pastel-green, $color-aquamarine-blue),
  light-blue-to-spring-green: (90deg, $color-light-blue, $color-spring-green)
);

// Градієнти:
// 1
//   Від fbcb34 до ed4f71 (від жовтого до малинового) "Видео"
// 2
//   Від dfa5c2 до 80d851 (від світломалинового до світлосалатового)
// 3
//   Від 7ce568 до 67e3d6 (від світлосалатового до світлоголубого)
// 4
//   Від 00cbe3 до 00fe62 (від світлогобулого до світлосалатового)

// Розміри шрифтів
// 16.6px
//   - пункти меню
// 43.6px
//   - Неизвестная Россия
// 40px
//   - Заголовок статті
// 43.6px
//   - Заголовок для групи плиточок
// 18px
//   - Підзаголовок статті
// 16px
//   - Підзаговок цитати
//   - Текст самої статті
// 15px
//   - Текст самої статті
// 26px
//   - Заголовок у статті
// 21px
//   - Заголовок у статті
//   - підпис для даних
//   - Поділитися у соц мережах
//   - Теги під статтею
//   - Читайте также
//   - Чатайте также заголовки
//   - Лучшее за неделю
// 30px
//   - Заголовки одиничної статті
//   - Подпишись на нашу рассылку
//   - Заговки якихось космічних шутк
// 12px
//   - Підпис під фоткою статті
//   - Источник
// 12.8px
//   - Placeholder: Оставьте вашу электронную почту
//   - Інформація про одиничну статтю (маленька)
//   - Текст у футері
//   - Підзаголовок логотипу у футері
//   - Короткі новини у правому сайдбарі
// 23.5px
//   - Заголовок одиничної статті (маленька)
//   - Заголовок плиточки
//   - Пункти меню у футері
//   - Короткі сводки праворуч "Тест: Откуда ваш английский язык"
//   - Заголовок маленької плиточки під сайдбаром
// 9px
//   - Лейбел для статтей
//   - Інформація про корокті новини у правому сайдбарі
// 187px
//   - Суперпиздатовеликий заголовок: Антон Кораблев


// => 30: заголовок широкої плиточки
// 36 => 23.48: заголовок звичайної плиточки
// 18 => 12.8:  інформація звичайної плиточки (про автора, дату, категорію)
// 18 => 9:     лейбел звичайної плиточки
// 28.9 => 12.8: текст короткої новини у правому сайдбарі
// 33.4 => 12.8: текст у футері сайту
// 42 => 23.48: пункти меню у футері сайту
// 33.4 => 43.6: підзаголовок НОЖ у футері
// 36 =>

/// Regular font family
/// @type List
$text-font-stack: 'Formular', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;



/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;



/// Container's maximum width
/// @type Length
$max-width: 1180px !default;



/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  small: 320px,
  medium: 768px,
  large: 1024px,
) !default;


$typi: (
  base: (
    null: (18px, 1.4),
    medium: (16px)
  ),
  h1: (
    null: (24px, 1.3),
    small: (30px, 1.2)
  )
);

/// Site header
$header-padding-y: 15px;
$header-padding-x: 20px;

/// Logo
$logo-width: 100px;
$logo-height: 29px;

/// Burger
$burger-width: 22px;
$burger-height: 18px;

// Search
$search-height: 25px;
$search-width: 25px;

/// Menu
$menu-padding-x-md: 10px;

/// Socials
$socials-items-padding-x: 16px;
$socials-items-padding-x-md: 7px;

/// Content info
$content-info-separator-margin-x: .5em;
$content-info-separator-margin-x-narrow: .25em;

/// Module
$module-padding-x: 22px;
$module-padding-y: 22px;

/// Label
$label-padding-x: $module-padding-x;
$label-padding-y: 1.1em;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/src/assets/' !default;
