<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Журнал «Нож» &#8212; Оружие интеллектуала</title>

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="dist/styles/app.css" />
</head>
<body>
<div id="siteWrapper" class="site-wrapper">

<header class="header" id="header">
  <div class="container header__inner navbar navbar-expand-lg">
    <div class="header__mobile-group">
    <div id="menuBurger" class="burger header__burger" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
      <div class="burger__stick"></div>
      <div class="burger__stick"></div>
      <div class="burger__stick"></div>
    </div>

    <a href="/" class="logo mx-auto header__logo">
      <img class="logo__img" width="100" src="src/assets/imgs/logo.svg" alt="Site logo">
    </a>

    <a id="mobileSearchBtn" href="#" class="header__mobile-search-btn search-btn">
      <img class="search-btn__search-icon" src="src/assets/imgs/icons/search.svg" />
      <svg width="18px" class="search-btn__close-icon" x="0px" y="0px" viewBox="0 0 20 20">
        <path d="M11.4,10l8.2-8.2c0.4-0.4,0.4-1,0-1.4s-1-0.4-1.4,0L10,8.6L1.7,0.3c-0.4-0.4-1-0.4-1.4,0
                 s-0.4,1,0,1.4L8.6,10l-8.3,8.3c-0.4,0.4-0.4,1,0,1.4s1,0.4,1.4,0l8.3-8.3l8.3,8.3c0.4,0.4,1,0.4,1.4,0s0.4-1,0-1.4L11.4,10z"/>
      </svg>
    </a>
  </div>

    <nav class="header__nav collapse navbar-collapse" id="mainNav">
    <ul class="menu sm header__menu" id="mainMenu">
      <li class="menu__item">
        <a class="menu__link" href="#">Россия</a>
        </li>
      <li class="menu__item">
        <a class="menu__link" href="#">Тесты</a>
        </li>
      <li class="menu__item">
        <a class="menu__link" href="#">Секс</a>
        </li>
      <li class="menu__item">
        <a class="menu__link" href="#">Мнения</a>
        </li>
      <li class="menu__item">
        <a class="menu__link" href="#">Stories</a>
        </li>
      <li class="menu__item">
        <a class="menu__link" href="#">Больше ></a>
        <ul class="submenu">
          <li class="submenu__item">
            <a class="submenu__link">Кино</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link">Музыка</a>
          </li>
          <li class="submenu__item submenu__item_active">
            <a class="submenu__link">Нищегоды</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link">Еда</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link">Персонажи</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link">Неизвестная Россия</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link">Фотографии</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link">Личный опыт</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link">Итервью</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link">Классика</a>
          </li>
        </ul>
      </li>
    </ul>

    <div class="socials header__socials">
      <ul class="socials__list">
        <li class="socials__item">
          <a href="#" class="socials__link brand-link header__socials-link"><i class="fa fa-facebook socials__fb" aria-hidden="true"></i></a>
        </li>
        <li class="socials__item">
          <a href="#" class="socials__link brand-link header__socials-link"><i class="fa fa-vk socials__vk" aria-hidden="true"></i></a>
        </li>
        <li class="socials__item">
          <a href="#" class="socials__link brand-link header__socials-link"><i class="fa fa-telegram socials__tg" aria-hidden="true"></i></a>
        </li>
        <li class="socials__item">
          <a href="#" class="socials__link brand-link header__socials-link"><i class="fa fa-twitter socials__tw" aria-hidden="true"></i></a>
        </li>
        <li class="socials__item">
          <a id="searchBtn" href="#" class="socials__link brand-link header__socials-link header__search-btn search-btn">
            <i class="fa fa-search search-btn__search-icon" aria-hidden="true"></i>
            <i class="fa fa-times search-btn__close-icon" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  </div>
</header>

<main style="overflow: hidden;">
  <div class="container px-0">
    <h1 class="title title--margins">
      <span class="gt-md g-md-sunglow-to-mandy">Неизвестная Россия</span>
    </h1>
  </div>

  <div class="container px-0">
    <div class="grid grid--small-gaps grid--lg-modules">
      <div class="grid__item col-12 col-md-6 height-fix">
        <article class="module module--large flex-auto">
          <a href="#" class="label module__label">Книги</a>

          <div class="module__img-link">
            <div class="module__img" style="background-image: url('src/assets/imgs/photos/5.jpg');"></div>
            <img class="module__img-height-fix" src="src/assets/imgs/photos/5.jpg" />
          </div>

          <div class="module__content">
            <h2 class="module__heading">
              <a href="#" class="brand-link"><span color="c-primary">Тренд</span>: Кто выбирает <em>работпуски</em> — длинные путешествия без отрыва от карьеры</a>
            </h2>

            <footer class="content-info content-info--large module__content-info">
              <a class="content-info__item" href="#">Агата Коровина</a>
              <span class="content-info__separator">•</span>
              <time class="content-info__item" datetime="">25 июля</time>
            </footer>
          </div>
        </article>
      </div>

      <div class="grid__item col-12 col-md-6 height-fix">
        <article class="module module--large module--full-img flex-auto">
          <a href="#" class="label module__label">Гид</a>

          <div class="module__img-link">
            <div class="module__img" style="background-image: url('src/assets/imgs/photos/25.png');"></div>
            <img class="module__img-height-fix" src="src/assets/imgs/photos/25.png" />
          </div>

          <div class="module__content c-md-white">
            <h2 class="module__heading">
              <a href="#" class="brand-link">Девять признаков того, что выникогда не разбогатеете</a>
            </h2>

            <footer class="content-info content-info--large module__content-info c-md-white">
              <a class="content-info__item" href="#">Кэтлин Элкнис</a>
              <span class="content-info__separator">•</span>
              <time class="content-info__item" datetime="">14 июля</time>
            </footer>
          </div>
        </article>
      </div>

      <div class="grid__item col-12 col-md-12">
        <article class="module module--wide module--full-img">
          <a href="#" class="label module__label">будущее</a>

          <div class="module__img-link">
            <div class="module__img" style="background-image: url('src/assets/imgs/photos/7.png');"></div>
            <img class="module__img-height-fix" src="src/assets/imgs/photos/7.png" />
          </div>

          <div class="module__content">
            <h2 class="module__heading">
              <a href="#" class="brand-link">Пять книг для разговоров обо всем на свете</a>
            </h2>

            <footer class="content-info content-info--large module__content-info">
              <a class="content-info__item" href="#">Борис Барбизон</a>
              <span class="content-info__separator">•</span>
              <time class="content-info__item" datetime="">14 июля</time>
            </footer>
          </div>
        </article>
      </div>
    </div>
  </div>

  <section class="subscription mt-4">
    <div class="subscription__inner container">
      <div class="row">
        <div class="col-12 col-xl-auto text-center">
          <h2 class="subscription__heading">Подпишитесь на нашу рассылку <img class="subscription__arrow" src="src/assets/imgs/icons/arrow-down.svg" /></h2>
        </div>

        <div class="col-12 col-md-8 col-xl">
          <input type="text" placeholder="Оставьте вашу электронную почту" class="input-text subscription__input" />
        </div>

        <div class="col-12 col-md-4 col-xl">
          <button class="subscription__btn">Подписаться</button>
        </div>
      </div>
    </div>
  </section>

  <div class="container px-0 mt-4">
    <div class="grid grid--small-gaps grid--lg-modules">
      <div class="grid__item col-12 col-md-4 height-fix">
        <article class="module flex-auto">
          <a href="#" class="label module__label">Тест</a>

          <div class="module__img-link">
            <div class="module__img" style="background-image: url('src/assets/imgs/photos/8.png');"></div>
            <img class="module__img-height-fix" src="src/assets/imgs/photos/8.png" />
          </div>

          <div class="module__content">
            <h2 class="module__heading">
              <a href="#" class="brand-link"><em class="c-primary">Тест для женщин:</em><br>Каков ваш сексуальный темперамент</a>
            </h2>

            <footer class="content-info content-info--large module__content-info">
              <a class="content-info__item" href="#">Наталья Белоусова</a>
              <span class="content-info__separator">•</span>
              <time class="content-info__item" datetime="">13 июля</time>
            </footer>
          </div>
        </article>
      </div>

      <div class="grid__item col-12 col-md-4 height-fix">
        <article class="module module--full-img flex-auto">
          <a href="#" class="label module__label">Наука</a>

          <div class="module__img-link">
            <div class="module__img" style="background-image: url('src/assets/imgs/photos/9.png');"></div>
            <img class="module__img-height-fix" src="src/assets/imgs/photos/9.png" />
          </div>

          <div class="module__content c-md-white">
            <h2 class="module__heading">
              <a href="#" class="brand-link">Как избавится от месячныхи начать жить</a>
            </h2>

            <footer class="content-info content-info--large module__content-info c-md-white">
              <a class="content-info__item" href="#">Таня Коэн</a>
              <span class="content-info__separator">•</span>
              <time class="content-info__item" datetime="">13 июля</time>
            </footer>
          </div>
        </article>
      </div>

      <div class="grid__item col-12 col-md-4 height-fix">
        <article class="module flex-auto">
          <a href="#" class="label module__label">Личный опыт</a>

          <div class="module__img-link">
            <div class="module__img" style="background-image: url('src/assets/imgs/photos/10.png');"></div>
            <img class="module__img-height-fix" src="src/assets/imgs/photos/10.png" />
          </div>

          <div class="module__content">
            <h2 class="module__heading">
              <a href="#" class="brand-link">Сколько зарабатывает и сколько работает судмедэксперт в России</a>
            </h2>

            <footer class="content-info content-info--large module__content-info">
              <a class="content-info__item" href="#">Таня Коэн</a>
              <span class="content-info__separator">•</span>
              <time class="content-info__item" datetime="">12 июля</time>
            </footer>
          </div>
        </article>
      </div>

      <div class="grid__item col-12 col-md-6 height-fix">
        <article class="module module--large module--full-img flex-auto">
          <a href="#" class="label module__label">Наука</a>

          <div class="module__img-link">
            <div class="module__img" style="background-image: url('src/assets/imgs/photos/11.png');"></div>
            <img class="module__img-height-fix" src="src/assets/imgs/photos/11.png" />
          </div>

          <div class="module__content">
            <h2 class="module__heading">
              <a href="#" class="brand-link"><span color="c-primary">Хороший вопрос:</span> Что на самом деле отличает гуманитарныенауки от естественных</a>
            </h2>

            <footer class="content-info content-info--large module__content-info">
              <a class="content-info__item" href="#">Таня Коэн</a>
              <span class="content-info__separator">•</span>
              <time class="content-info__item" datetime="">12 июля</time>
            </footer>
          </div>
        </article>
      </div>

      <div class="grid__item col-12 col-md-6 height-fix">
        <article class="module module--large flex-auto">
          <a href="#" class="label module__label">Книги</a>

          <div class="module__img-link">
            <div class="module__img" style="background-image: url('src/assets/imgs/photos/12.png');"></div>
            <img class="module__img-height-fix" src="src/assets/imgs/photos/12.png" />
          </div>

          <div class="module__content">
            <h2 class="module__heading">
              <a href="#" class="brand-link">Что такое <em>сверхчувствительностьи</em> как с ней жить</a>
            </h2>

            <footer class="content-info content-info--large module__content-info">
              <a class="content-info__item" href="#">Кэтлин Элкнис</a>
              <span class="content-info__separator">•</span>
              <time class="content-info__item" datetime="">12 июля</time>
            </footer>
          </div>
        </article>
      </div>

      <div class="grid__item col-12 col-md-12">
        <article class="module module--wide module--full-img">
          <a href="#" class="label module__label">будущее</a>

          <div class="module__img-link">
            <div class="module__img" style="background-image: url('src/assets/imgs/photos/13.png');"></div>
            <img class="module__img-height-fix" src="src/assets/imgs/photos/13.png" />
          </div>

          <div class="module__content c-md-white">
            <h2 class="module__heading">
              <a href="#" class="brand-link">20 доказательств того, что мы живем в иммитации реальности</a>
            </h2>

            <footer class="content-info content-info--large module__content-info c-md-white">
              <a class="content-info__item" href="#">Миша Цыган</a>
              <span class="content-info__separator">•</span>
              <time class="content-info__item" datetime="">11 июля</time>
            </footer>
          </div>
        </article>
      </div>

      <div class="grid__item col-12 col-md-4 height-fix">
        <article class="module flex-auto">
          <a href="#" class="label module__label">Тест</a>

          <div class="module__img-link">
            <div class="module__img" style="background-image: url('src/assets/imgs/photos/14.png');"></div>
            <img class="module__img-height-fix" src="src/assets/imgs/photos/14.png" />
          </div>

          <div class="module__content">
            <h2 class="module__heading">
              <a href="#" class="brand-link"><em class="c-primary">IQ-тест</em><br>Всего в двух вопросах</a>
            </h2>

            <footer class="content-info content-info--large module__content-info">
              <a class="content-info__item" href="#">Наталья Белоусова</a>
              <span class="content-info__separator">•</span>
              <time class="content-info__item" datetime="">10 июля</time>
            </footer>
          </div>
        </article>
      </div>

      <div class="grid__item col-12 col-md-4 height-fix">
        <article class="module flex-auto">
          <a href="#" class="label module__label">Истории</a>

          <div class="module__img-link">
            <div class="module__img" style="background-image: url('src/assets/imgs/photos/15.png');"></div>
            <img class="module__img-height-fix" src="src/assets/imgs/photos/15.png" />
          </div>

          <div class="module__content">
            <h2 class="module__heading">
              <a href="#" class="brand-link"><span style="c-primary">Бородатые счастливчики:</span><br>Как мужчин дискриминируют на работе</a>
            </h2>

            <footer class="content-info content-info--large module__content-info">
              <a class="content-info__item" href="#">Сергей Лебедев</a>
              <span class="content-info__separator">•</span>
              <time class="content-info__item" datetime="">9 июля</time>
            </footer>
          </div>
        </article>
      </div>

      <div class="grid__item col-12 col-md-4 height-fix">
        <article class="module module--full-img flex-auto">
          <a href="#" class="label module__label">Наука</a>

          <div class="module__img-link">
            <div class="module__img" style="background-image: url('src/assets/imgs/photos/16.png');"></div>
            <img class="module__img-height-fix" src="src/assets/imgs/photos/16.png" />
          </div>

          <div class="module__content">
            <h2 class="module__heading c-md-white">
              <a href="#" class="brand-link">Почему совы должныподчиняться жаворонкам</a>
            </h2>

            <footer class="content-info content-info--large module__content-info c-md-white">
              <a class="content-info__item" href="#">Таня Коэн</a>
              <span class="content-info__separator">•</span>
              <time class="content-info__item" datetime="">7 июля</time>
            </footer>
          </div>
        </article>
      </div>

      <div class="grid__item col-12 col-md-6 height-fix">
        <article class="module module--large module--full-img flex-auto">
          <a href="#" class="label module__label">Путешествия</a>

          <div class="module__img-link">
            <div class="module__img" style="background-image: url('src/assets/imgs/photos/17.png');"></div>
            <img class="module__img-height-fix" src="src/assets/imgs/photos/17.png" />
          </div>

          <div class="module__content">
            <h2 class="module__heading c-md-white">
              <a href="#" class="brand-link">Как объехать всю Скандинавиюза 250 евро</a>
            </h2>

            <footer class="content-info content-info--large module__content-info c-md-white">
              <a class="content-info__item" href="#">Карина Абдусаламова</a>
              <span class="content-info__separator">•</span>
              <time class="content-info__item" datetime="">6 июля</time>
            </footer>
          </div>
        </article>
      </div>

      <div class="grid__item col-12 col-md-6 height-fix">
        <article class="module module--large flex-auto">
          <a href="#" class="label module__label">Наука</a>

          <div class="module__img-link">
            <div class="module__img" style="background-image: url('src/assets/imgs/photos/18.png');"></div>
            <img class="module__img-height-fix" src="src/assets/imgs/photos/18.png" />
          </div>

          <div class="module__content">
            <h2 class="module__heading">
              <a href="#" class="brand-link">Мой нейробиолог Далай Лама: Как медитация покорила ученых</a>
            </h2>

            <footer class="content-info content-info--large module__content-info">
              <a class="content-info__item" href="#">Кэтлин Элкнис</a>
              <span class="content-info__separator">•</span>
              <time class="content-info__item" datetime="">5 июля</time>
            </footer>
          </div>
        </article>
      </div>

    </div>
  </div>

  <div class="container mt-4">
    <div class="position-relative mb-5">
      <div class="hr"></div>
      <span class="label position-absolute align-bottom">Сториз</span>
    </div>

    <!-- d-block is hack for ie 10 -->
    <div class="grid grid--force-small-gaps grid--lg-force-modules d-block stories" id="stories">
      <div class="grid__item">
        <article class="module module--story stories__story">
          <a href="#" class="module__img-link">
            <div class="module__img" style="background-image: url('src/assets/imgs/stories/1.png');"></div>
            <img class="module__img-height-fix" src="src/assets/imgs/stories/1.png" />
          </a>

          <div class="module__content">
            <h2 class="module__heading"><a href="#" class="module__link">Зеленоградские ученые клонировали 14 Медведевых</a></h2>
          </div>
        </article>
      </div>

      <div class="grid__item">
        <article class="module module--story stories__story">
          <a href="#" class="module__img-link">
            <div class="module__img" style="background-image: url('src/assets/imgs/stories/2.png');"></div>
            <img class="module__img-height-fix" src="src/assets/imgs/stories/1.png" />
          </a>

          <div class="module__content">
            <h2 class="module__heading"><a href="#" class="module__link">Сергей Минаев назначен главой Литфонда России</a></h2>
          </div>
        </article>
      </div>

      <div class="grid__item">
        <article class="module module--story stories__story">
          <a href="#" class="module__img-link">
            <div class="module__img" style="background-image: url('src/assets/imgs/stories/3.png');"></div>
            <img class="module__img-height-fix" src="src/assets/imgs/stories/1.png" />
          </a>

          <div class="module__content">
            <h2 class="module__heading"><a href="#" class="module__link">Фестиваль гусей в Воркуте закончился массовой оргией</a></h2>
          </div>
        </article>
      </div>

      <div class="grid__item">
        <article class="module module--story stories__story">
          <a href="#" class="module__img-link">
            <div class="module__img" style="background-image: url('src/assets/imgs/stories/4.png');"></div>
            <img class="module__img-height-fix" src="src/assets/imgs/stories/1.png" />
          </a>

          <div class="module__content">
            <h2 class="module__heading"><a href="#" class="module__link">В центре Москвы арестована девочка, декламировавшая Полозкову</a></h2>
          </div>
        </article>
      </div>

      <div class="grid__item">
        <article class="module module--story stories__story">
          <a href="#" class="module__img-link">
            <div class="module__img" style="background-image: url('src/assets/imgs/stories/2.png');"></div>
            <img class="module__img-height-fix" src="src/assets/imgs/stories/1.png" />
          </a>

          <div class="module__content">
            <h2 class="module__heading"><a href="#" class="module__link">Сергей Минаев назначен главой Литфонда России</a></h2>
          </div>
        </article>
      </div>

      <div class="grid__item">
        <article class="module module--story stories__story">
          <a href="#" class="module__img-link">
            <div class="module__img" style="background-image: url('src/assets/imgs/stories/3.png');"></div>
            <img class="module__img-height-fix" src="src/assets/imgs/stories/1.png" />
          </a>

          <div class="module__content">
            <h2 class="module__heading"><a href="#" class="module__link">Фестиваль гусей в Воркуте закончился массовой оргией</a></h2>
          </div>
        </article>
      </div>
    </div>
  </div>

  <div class="media-news mt-3">
    <div class="media-news__inner container">
      <div class="media-news__media embed-responsive embed-responsive-4by3">
        <div class="media-news__video embed-responsive-item" id="mediaNewsVideoPlayer"></div>
        <div class="media-news__cover" style="background-image: url('src/assets/imgs/photos/cover-1.png')"></div>

        <button id="mediaNewsMediaControl" class="media-news__media-control youtube-btn" type="button">
          <svg class="youtube-btn__svg" width="100px" height="75px" x="0px" y="0px" viewBox="-143 -22 512 384" xml:space="preserve">
            <g>
            	<path class="youtube-btn__shape" d="M365.6,62.8c0-45-33.1-81.2-74-81.2C236.2-21,179.7-22,122-22c-3,0-6,0-9,0s-6,0-9,0c-57.6,0-114.2,1-169.6,3.6
            		c-40.8,0-73.9,36.4-73.9,81.4c-2.5,35.6-3.6,71.2-3.5,106.8c-0.1,35.6,1,71.2,3.4,106.9c0,45,33.1,81.5,73.9,81.5
            		c58.2,2.7,117.9,3.9,178.6,3.8c60.8,0.2,120.3-1,178.6-3.8c40.9,0,74-36.5,74-81.5c2.4-35.7,3.5-71.3,3.4-107
            		C369.1,134.1,368,98.5,365.6,62.8z M64,267.9V71.4l145,98.2L64,267.9z"/>
            </g>
          </svg>
        </button>
      </div>
    </div>

    <div class="ticker media-news__ticker">
      <div class="ticker__offset"></div>
      <div class="ticker__items">
        <a class="ticker__item gt g-light-blue-to-spring-green media-news__heading" href="#">Антон Кораблев</a>
      </div>
    </div>
  </div>
</main>

<footer class="footer mt-3">
  <div class="footer__inner container">
    <div class="row">
      <div class="col-12 col-lg footer__brand">
        <a href="/" class="footer__logo">НОЖ</a>
        <p class="footer__subheading">Интеллектуальный журнал<br>о культуре и обществе</p>
      </div>

      <div class="col-12 col-lg footer__nav">
        <ul class="nav footer__menu flex-column font-weight-bold">
          <li class="nav-item"><a class="footer__nav-link" href="#">О нас</a></li>
          <li class="nav-item"><a class="footer__nav-link" href="#">Реклама</a></li>
          <li class="nav-item"><a class="footer__nav-link" href="#">Вакансии</a></li>
          <li class="nav-item"><a class="footer__nav-link" href="#">Стать частью проекта</a></li>
        </ul>

        <ul class="socials socials--theme-light footer__socials mt-4">
          <li class="socials__item">
            <a href="#" class="socials__link brand-link"><i class="fa fa-facebook socials__fb" aria-hidden="true"></i></a>
          </li>
          <li class="socials__item">
            <a href="#" class="socials__link brand-link"><i class="fa fa-vk socials__vk" aria-hidden="true"></i></a>
          </li>
          <li class="socials__item">
            <a href="#" class="socials__link brand-link"><i class="fa fa-telegram socials__tg" aria-hidden="true"></i></a>
          </li>
          <li class="socials__item">
            <a href="#" class="socials__link brand-link"><i class="fa fa-twitter socials__tw" aria-hidden="true"></i></a>
          </li>
          <li class="socials__item">
            <a href="#" class="socials__link brand-link"><i class="fa fa-search socials__search" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>

      <div class="col-12 col-lg-5 footer__text">
        <p>Использование всех текстовых материалов без изменений в некоммерческих целях разрешается со ссылкой на «Нож». Все аудиовизуальные произведения являются собственностью своих авторов и правообладателей и используются только в образовательных и информационных целях. Если вы являетесь собственником того или иного произведения и не согласны с его размещением на нашем сайте, пожалуйста, напишите на <a class="footer__link" href="mailto:hi@knife.media">hi@knife.media</a></p>
        <p>Сайт может содержать контент, не предназначенный для лиц младше 18 лет</p>
      </div>
    </div>
  </div>
</footer>
<!-- End of site wrapper -->
<div>

<script type="text/template" id="searchTemplate">
  <div id="search" class="search hidden">
    <div class="search__inner">
      <div class="search__input-wrapper content-container">
        <input id="searchInput" placeholder="Поиск ..." type="text" class="search-input h2 h1-lg search__input" />
      </div>

      <span id="searchLoading" class="search__loading search__text-info hidden content-container font-italic">Загрузка...</span>
      <span id="searchNoResults" class="search__no-results search__text-info hidden content-container text-uppercase">Извините, но ничего не найдено.</span>
      <span id="searchError" class="search__error search__text-info hidden content-container text-uppercase">Произошла ошибка. Повторите попытку позже.</span>
      <div id="searchResults" class="search__results content-container"></div>
    </div>
  </div>
</script>

<script type="text/template" id="searchNewsTemplate">

  <% items.forEach(function (item, newsIndex) { %>

  <article class="search-news">
    <div class="search-news__content">
      <h2 class="search-news__heading h2 h1-lg"><a href="<%-item.link%>" class="brand-link"><%= item.title %></a></h2>

      <% if (item.tags && item.tags.length) { %>
        <footer class="content-info search-news__content-info text-uppercase c-white">
          <% item.tags.forEach(function (tag, tagIndex) { %>

            <% if (tagIndex !== 0) { %>
              <span class="content-info__separator">•</span>
            <% } %>

            <% if (tag.link) { %>
              <a class="content-info__item brand-link" href="<%- tag.link %>"><%- tag.name %></a>
            <% } else { %>
              <span class="content-info__item"><%- tag.name %></a>
            <% } %>

          <% }) %>
        </footer>
      <% } %>
    </div>

    <% if (item.img) { %>
      <a
        href="#"
        class="img-link search-news__img search-news__img-link search__result-img"
        style="background-image: url('<%- item.img %>');">
        <img class="out-of-page" src="<%- item.img %>">
      </a>
    <% } %>
  </article>

  <span class="hr search__separator"></span>
  <% }) %>

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
<script src="./node_modules/jquery/dist/jquery.min.js"></script>
<script src="https://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
<script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./node_modules/smartmenus/dist/jquery.smartmenus.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.js"></script>
<script src="static/app.js"></script>

<!-- Script for embedding YouTube video -->
<script>
// 2. This code loads the IFrame Player API code asynchronously.
var tag = document.createElement('script')
var $mediaNewsMediaControl = $('#mediaNewsMediaControl')

tag.src = "https://www.youtube.com/iframe_api"
var firstScriptTag = document.getElementsByTagName('script')[0]
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag)

// 3. This function creates an <iframe> (and YouTube player)
//    after the API code downloads.
var player = null

function onYouTubeIframeAPIReady() {
  player = new YT.Player('mediaNewsVideoPlayer', {
    height: '390',
    width: '640',
    videoId: '0JhtnSYOJYI',
    events: {
      'onReady': onPlayerReady,
      'onStateChange': onPlayerStateChange
    }
  })
}

// 4. The API will call this function when the video player is ready.
function onPlayerReady(event) {
  $mediaNewsMediaControl.click(onMediaControlClick)
}

// 5. The API calls this function when the player's state changes.
//    The function indicates that when playing a video (state=1),
//    the player should play for six seconds and then stop.
var done = false
function onPlayerStateChange(event) {
  // if (event.data == YT.PlayerState.PLAYING && !done) {
  //   setTimeout(stopVideo, 6000)
  //   done = true
  // }
}

function stopVideo() {
  player.stopVideo()
}

function onMediaControlClick (event) {
  if (!player) return

  $mediaNewsMediaControl.closest('.media-news').addClass('media-news--in-action')
  player.playVideo()
}
</script>

<script>
var breakpoints = {
  xs: 0,
  sm: 576,
  md: 768,
  lg: 992,
  xl: 1200
}

$(function() {
  var $stories = $('#stories')

  $stories.on('init', slickInitEventHandler)
  $stories.on('afterChange', slickAfterEventEventHandler)
  $stories.on('beforeChange', slickBeforeChangeEventHandler)
  $stories.on('breakpoint', slickEventHandler)
  $stories.on('destroy', slickEventHandler)
  $stories.on('reInit', slickEventHandler)
  $stories.on('setPosition', slickEventHandler)
  $stories.on('lazyLoaded', slickEventHandler)

  $stories.slick({
    appendArrows: null,
    infinite: true,
    slidesToShow: 3,
    centerMode: true,
    slidesToScroll: 3,
    scrolling: false,
    variableWidth: true,
    responsive: [
      {
        breakpoint: breakpoints.lg,
        settings: {
          centerMode: true,
          slidesToShow: 3
        }
      },
      {
        breakpoint: 0,
        settings: {
          centerMode: true,
          slidesToShow: 1
        }
      }
    ]
  })

  function slickEventHandler (event, slick, direction) {
    if (event.type === 'destroy') {
      removeSlickSlidesHeight(slick)
    } else {
      makeSlickSlidesFitToParentHeight(slick)
    }
  }

  function slickInitEventHandler (event, slick, direction) {
    // slick.$list.find('.slick-slide:not([aria-hidden=false])').addClass('stories-opacity')
    // getSlickSlides(slick).addClass('stories-opacity')
    slickEventHandler.apply(this, arguments)
  }

  function slickBeforeChangeEventHandler (event, slick, currentSlideIndex, nextSlideIndex) {
    // var visibleSlides = slick.$list.find('[aria-hidden=false]')
    //
    // visibleSlides.first().addClass('stories-opacity')
    // visibleSlides.last().next().removeClass('stories-opacity')
    slickEventHandler.apply(this, arguments)
  }

  function slickAfterEventEventHandler (event, slick, direction) {
    // var visibleSlides = slick.$list.find('[aria-hidden=false]')
    //
    // visibleSlides.first().prev().prev().removeClass('stories-opacity')
    // visibleSlides.first().prev().addClass('stories-opacity')
    // visibleSlides.last().next().addClass('stories-opacity')
    slickEventHandler.apply(this, arguments)
  }

  function makeSlickSlidesFitToParentHeight (slick) {
    // Reseting height each slide.
    removeSlickSlidesHeight(slick)

    var containerHeight = slick.$slideTrack.outerHeight()

    getSlickSlides(slick).css('height', containerHeight + 'px');
  }

  function removeSlickSlidesHeight (slick) {
    getSlickSlides(slick).css('height', '')
  }

  function getSlickSlides (slick) {
    return slick.$list.find('.slick-slide')
  }
})
$(function() {
  var $window = $(window)
  var $mainNav = $('#mainNav')
  var $mainMenu = $('#mainMenu')
  var $firstBigModule = $('#firstBigModule')

  !function init () {
    onWindowResize()
    $window.resize(onWindowResize)
  }()

  function onWindowResize (event) {
    firstBigModuleAdjustCssClasses()
  }

  function firstBigModuleAdjustCssClasses () {
    const windowWidth = $window.outerWidth()
    const classes = 'module--full-img module--wide'

    if (windowWidth >= breakpoints.xl) {
      $firstBigModule.addClass(classes)
    } else {
      $firstBigModule.removeClass(classes)
    }
  }

  $mainMenu.smartmenus({
    // subMenusMinWidth: '400px',
    // subMenusMaxWidth: 'none'
  })

  $mainNav.on('show.bs.collapse', function (e) {
    $('#menuBurger').addClass('burger--active')
  })

  $mainNav.on('hide.bs.collapse', function (e) {
    $('#menuBurger').removeClass('burger--active')
  })
})

// Search module
$(function() {
  var $window = $(window)
  var $body = $('body')
  var $siteWrapper = $('#siteWrapper')
  var $header = $('#header')
  var $mobileSearchBtn = $('#mobileSearchBtn')
  var $searchBtn = $('#searchBtn')
  var $search = null
  var $searchInput = null
  var $searchResults = null
  var $searchLoading = null
  var $searchError = null
  var $searchNoResults = null
  var $searchTemplate = $('#searchTemplate')
  var $searchNewsTemplate = $('#searchNewsTemplate')

  var isShown = false
  var timerId = null
  // Defines delay that should be taken between any two requests for search results.
  // We do this to prevent making of a lot of requests to server.
  var debounceDelay = 300
  var SEARCH_ENDPOINT = 'static/search-results.json'

  // Templates for search and search results (search news).
  var searchTemplate = _.template($searchTemplate.html())
  var searchNewsTemplate = _.template($searchNewsTemplate.html())

  // CSS' classes constants.
  var NOSCROLL_CLASS = 'noscroll'
  var HEADER_SEARCH_ACTIVE_CLASS = 'header--search-active'
  var SEARCH_BTN_ACTIVE_CLASS = 'search-btn--active'
  var HIDDEN_CLASS = 'hidden'

  var debouncedLoadAndProcessData = null

  !function init () {
    initButtonsEventHandlers()
  }()

  function initSearch () {
    // Renders search template
    render()

    $searchInput = $('#searchInput')
    $searchResults = $('#searchResults')
    $searchLoading = $('#searchLoading')
    $searchError = $('#searchError')
    $searchNoResults = $('#searchNoResults')

    initSearchInputEventHanlers()
  }

  function initButtonsEventHandlers () {
    $searchBtn.click(searchBtnClickHandler)
    $mobileSearchBtn.click(searchBtnClickHandler)
  }

  function initSearchInputEventHanlers () {
    if ($searchInput === null) throw new Error('Search input is not rendered yet.')

    debouncedLoadAndProcessData = _.debounce(loadAndProcessData, debounceDelay)

    $searchInput.on('input', searchInputEventHandler)
  }

  function searchInputEventHandler (event) {
    // Removed previous search results.
    $searchResults.html('')

    // Shows text of loading.
    $searchLoading.removeClass(HIDDEN_CLASS)
    // Hides texts for 'no results' and for 'error'.
    $searchNoResults.addClass(HIDDEN_CLASS)
    $searchError.addClass(HIDDEN_CLASS)

    debouncedLoadAndProcessData(event.target.value)
  }

  function searchBtnClickHandler (event) {
    // Renders search if it is not rendered yet.
    // Creates search on demand.
    if ($search === null) {
      initSearch()
    }

    if (isShown) {
      $siteWrapper.removeClass(NOSCROLL_CLASS)
      $header.removeClass(HEADER_SEARCH_ACTIVE_CLASS)
      $mobileSearchBtn.removeClass(SEARCH_BTN_ACTIVE_CLASS)
      $searchBtn.removeClass(SEARCH_BTN_ACTIVE_CLASS)
    } else {
      scrollToTop()
      $siteWrapper.addClass(NOSCROLL_CLASS)
      $header.addClass(HEADER_SEARCH_ACTIVE_CLASS)
      $mobileSearchBtn.addClass(SEARCH_BTN_ACTIVE_CLASS)
      $searchBtn.addClass(SEARCH_BTN_ACTIVE_CLASS)
    }

    toggleSearchVisibility()
  }

  function loadAndProcessData (inputValue) {
    $.get(SEARCH_ENDPOINT, { term: inputValue })
      .done(function (data) {
        if (!data.length) {
          $searchNoResults.removeClass(HIDDEN_CLASS)
        }

        var html = searchNewsTemplate({ items: data })

        $searchResults.html(html)
      })
      .fail(function (error) {
        $searchError.removeClass(HIDDEN_CLASS)
      })
      .always(function () {
        $searchLoading.addClass(HIDDEN_CLASS)
      })
  }

  function render () {
    $search = $($.parseHTML(searchTemplate()))

    $siteWrapper.append($search)
  }

  function scrollToTop () {
    window.scrollTo(0, 0)
  }

  function toggleSearchVisibility () {
    if ($search === null) throw new Error('Search is not rendered yet.')

    if (isShown) {
      $search.addClass(HIDDEN_CLASS)
      isShown = false
    } else {
      $search.removeClass(HIDDEN_CLASS)
      isShown = true
    }
  }
})
</script>
</body>
</html>
