doctype html
html(lang='ru')
  head
    block title
    block styles
  body
    block header
      include includes/header.pug
    block content
    block footer
      include includes/footer.pug
    block scripts
