@import '../abstracts/typography';

/**
 * Basic typography style for copy text.
 */
html, body {
  color: $text-color;
  font: normal 1.4 $text-font-stack;
  font-family: 'Formular';
}

/**
 * Initializing of typi.
 */
// @include typi-init;
// @include typi-create-classes;
@include make-typography;

.h1, .h2, .h3 {
  @include heading;
}

.text-lg {
  font-size: 18px;

  @include media-breakpoint-up(md) {
    font-size: 21px;
  }
}
