// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  position: relative;
  z-index: 20;
  padding: 0;
  background: #FFF;

  @include media-breakpoint-up(lg) {
    padding: $header-padding-y $header-padding-x;
  }

  &__inner {
    @include media-breakpoint-down(md) {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      max-width: none;
    }
  }

  &__mobile-group {
    padding-top: $header-padding-y;
    padding-bottom: $header-padding-y;
    padding-left: $header-padding-x;
    padding-right: $header-padding-x;
    width: 100%;

    @include media-breakpoint-up(lg) {
      padding: 0;
      width: auto;
    }
  }

  &__burger {
    position: absolute;
    top: $header-padding-y + ($logo-height - $burger-height) / 2;
    left: $header-padding-x;

    @include media-breakpoint-up(lg) {
      display: none;
    }

    @at-root .header--search-active & {
      filter: blur($header-search-active-blur);
      pointer-events: none;
    }
  }

  &__logo {
    @at-root .header--search-active & {
      filter: blur($header-search-active-blur);
      pointer-events: none;
    }
  }

  &__mobile-search-btn {
    display: block;
    position: absolute;
    top: $header-padding-y + ($logo-height - $search-height) / 2;
    right: $header-padding-x;
    margin-top: auto;
    margin-bottom: auto;

    @at-root .header--search-active & {
      top: 18px;
    }

    img {
      width: $search-width;
      height: $search-height;
    }

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  &__nav {
    @include media-breakpoint-up(lg) {
      margin-left: 5%;
      width: 100%;
    }
  }

  &__menu {
    @include media-breakpoint-up(lg) {
      margin-left: auto;
    }

    @at-root .header--search-active & {
      filter: blur($header-search-active-blur);
      pointer-events: none;
    }
  }

  &__socials {
    @include media-breakpoint-down(md) {
      .socials__list {
        margin-left: -$header-socials-items-padding-x;
        margin-right: -$header-socials-items-padding-x;
      }

      .fa {
        font-size: 25px;
        color: color(white);
      }
    }

    @include media-breakpoint-up(lg) {
      margin-left: auto;
    }
  }

  &__socials-link {
    @include media-breakpoint-down(md) {
      padding-left: $header-socials-items-padding-x;
      padding-right: $header-socials-items-padding-x;
    }

    @at-root .header--search-active & {
      filter: blur($header-search-active-blur);
      pointer-events: none;
    }
  }

  &__search-btn {
    width: 2 * $socials-items-padding-x + 14px;

    @include media-breakpoint-down(md) {
      display: none;
    }

    @at-root .header--search-active & {
      filter: blur(0);
      pointer-events: auto;
    }
  }

  .sub-arrow {
    display: none;
  }
}
