@import '../abstracts/mixins';

.search {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(26, 26, 26, 0.9);
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  color: #fff;

  @include media-breakpoint-down(sm) {
    top: 59px;
    border-top: 1px solid #000;
  }

  &__inner {
    @include content-container;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    @include media-breakpoint-up(md) {
      padding-top: 80px;
      padding-bottom: 80px;
      max-width: 700px;
    }
  }

  &__input-wrapper {
    @include media-breakpoint-down(sm) {
      padding-top: 15px;
      padding-bottom: 15px;
      background: #fff;
    }
  }

  &__input {
    color: color(text);

    @include media-breakpoint-down(sm) {
      padding-top: 0;
      padding-bottom: 0;
      border: 0;
    }

    @include media-breakpoint-up(md) {
      color: #fff;
    }
  }

  &__results {
    @include content-container;
    margin-top: 20px;

    @include media-breakpoint-up(md) {
      margin-top: 40px;
    }
  }

  &__text-info {
    @include content-container;
    display: block;
    margin-top: 1rem;
    text-align: center;
  }

  &__separator {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  &__result-img {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}
