.search-news {
  display: flex;
  color: #fff;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
  }

  &__heading {
    font-size: 18px;
    line-height: 1.3;
  }

  &__img {
    flex: 0 0 auto;
    margin-left: 1rem;
    width: 11rem;
    min-height: 7rem;
    background-size: cover;
    background-position: center;
  }

  &__img-link {
    transition: transform 0ms;
  }

  &__img-height-fix {
    height: 0;
  }

  &__content-info {
    margin-top: 0.5rem;
  }
}
