.short-news {
  padding: $short-news-padding-x $short-news-padding-y;
  background: #FFF;

  @include media-breakpoint-up(md) {
    padding-top: $short-news-padding-top-md;
    padding-bottom: $short-news-padding-bottom-md;
    padding-left: $short-news-padding-y-md;
    padding-right: $short-news-padding-y-md;
  }

  &__heading {
    line-height: 1.37;
    font-size: 15px;
    font-weight: 500;

    @include media-breakpoint-up(md) {
      line-height: 1.3;
      font-size: 13px;
    }
  }

  &__content-info {
    margin-bottom: .62em;

    @include media-breakpoint-up(md) {
      margin-bottom: .3em;
    }
  }
}
