// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

@import '../abstracts/functions';

.footer {
  color: color(white);

  &__inner {
    padding-left: 15px;
    padding-right: 15px;

    @include media-breakpoint-up(sm) {
      padding-left: 0;
      padding-right: 0;
    }

    @include media-breakpoint-up(md) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  &__link {
    color: #2f72e1;
  }

  &__logo {
    margin-left: -0.05em;
    line-height: 0.9;
    font-size: 26px;
    font-weight: 900;
    color: color(white);

    &:hover {
      color: inherit;
    }

    @include media-breakpoint-up(md) {
      font-size: 43px;
    }
  }

  &__subheading {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    line-height: 1.6;
    font-size: 16px;

    @include media-breakpoint-up(md) {
      line-height: 1.3;
      font-size: 13px;
      font-weight: bold;
    }
  }

  &__menu {
    line-height: 1.1;
    font-size: 21px;
    font-weight: bold;

    @include media-breakpoint-up(md) {
      font-size: 24px;
    }
  }

  &__nav-link {
    line-height: 1.47;
    color: color(white);

    @include media-breakpoint-up(md) {
      line-height: 1.1;
    }

    &:hover {
      color: color(white);
      text-decoration: none;
    }
  }

  &__socials {
    margin-left: -7px;
    margin-right: -7px;
  }

  &__text {
    line-height: 1.6;
    font-size: 16px;

    @include media-breakpoint-down(md) {
      margin-top: 1rem;
    }

    @include media-breakpoint-up(md) {
      line-height: 1.3;
      font-size: 13px;
      font-weight: bold;
    }
  }
}
