.grid {
  margin-top: -$grid-gutter-width / 2;
  margin-bottom: -$grid-gutter-width / 2;

  &__item {
    margin-top: $grid-gutter-width / 2;
    margin-bottom: $grid-gutter-width / 2;

    @include media-breakpoint-down(md) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
