// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  padding: 0;
  background: #FFF;

  @include media-breakpoint-up(md) {
    padding: $header-padding-y $header-padding-x;
  }

  &__mobile-group {
    padding-top: $header-padding-y;
    padding-bottom: $header-padding-y;
    padding-left: $header-padding-x;
    padding-right: $header-padding-x;
    width: 100%;

    @include media-breakpoint-up(md) {
      padding: 0;
      width: auto;
    }
  }

  &__burger {
    position: absolute;
    top: $header-padding-y + ($logo-height - $burger-height) / 2;
    left: $header-padding-x;

    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  &__search {
    display: block;
    position: absolute;
    top: $header-padding-y + ($logo-height - $search-height) / 2;
    right: $header-padding-x;
    margin-top: auto;
    margin-bottom: auto;

    img {
      width: $search-width;
      height: $search-height;
    }

    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  &__nav {
    @include media-breakpoint-up(md) {
      margin-left: 5%;
      width: 100%;
    }
  }

  &__menu {
    @include media-breakpoint-up(md) {
      margin-left: auto;
    }
  }

  &__socials {
    @include media-breakpoint-down(md) {
      margin-left: -$socials-items-padding-x;
      margin-right: -$socials-items-padding-x;
    }
    @include media-breakpoint-up(md) {
      margin-left: auto;
    }
  }

  .sub-arrow {
    display: none;
  }
}
