@import '../abstracts/functions';

@mixin menu-item-on-mobile () {
  border-top: 1px solid #FFF;
  padding-left: $header-padding-x;
  color: #FFF;
  background: color(primary);
}

@mixin menu-link-on-mobile () {
  padding-top: $header-padding-y;
  padding-bottom: $header-padding-y;
  padding-right: $header-padding-x;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;

  &:hover {
    text-decoration: none;
    color: #FFF;
  }
}

.menu {
  @include media-breakpoint-up(md) {
    display: flex;
  }

  &__item {
    @include media-breakpoint-down(sm) {
      @include menu-item-on-mobile;

      &:first-child {
        border-top: 0;
      }
    }

    @include media-breakpoint-up(md) {
      padding-left: $menu-padding-x-md;
      padding-right: $menu-padding-x-md;
      color: color(text)
    }
  }

  &__link {
    @include media-breakpoint-down(sm) {
      @include menu-link-on-mobile;
    }

    @include media-breakpoint-up(md) {
      font-size: 17px;
      font-weight: bold;
      white-space: nowrap;
      color: color('text');

      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

.submenu {
  @include media-breakpoint-up(md) {
    position: absolute;
    padding-top: 20px;
    width: 12em;
  }

  &__item {
    @include media-breakpoint-down(sm) {
      @include menu-item-on-mobile;
    }

    @include media-breakpoint-up(md) {
    }
  }

  &__link {
    @include media-breakpoint-down(sm) {
      @include menu-link-on-mobile;
    }

    @include media-breakpoint-up(md) {
      display: block;
      border-bottom: 1px solid #000;
      padding-top: $menu-padding-x-md;
      padding-bottom: $menu-padding-x-md;
      padding-left: $menu-padding-x-md;
      padding-right: $menu-padding-x-md;
      font-size: 14px;
      font-weight: bold;
      background: #FFF;
      cursor: pointer;

      &:hover {
        color: #FFF !important;
        background: color(primary)
      }
    }
  }
}

.header__socials {
  @include media-breakpoint-down(sm) {
    @include menu-item-on-mobile;
    @include menu-link-on-mobile;
  }
}
