$module-story-2-content-padding-x: 15px;

.module {
  display: inline-block;
  position: relative;
  padding: 0;
  width: 100%;
  background: #FFF;

  @include media-breakpoint-up(md) {
    display: inline-flex;
    flex-direction: column;
    max-width: 400px;
    width: auto;
    min-height: 350px;
  }

  &--simple {
    min-height: 300px;
  }

  &--story {
    width: 100%;
    background: color(primary);
    color: color(white);
  }

  &--story-2 {
    width: 100%;
    min-height: 450px;
    color: white;
    background: linear-gradient(-320deg, #e75ca0 0%,#9679f3 100%);
  }

  &--wide {
    @include media-breakpoint-up(md) {
      display: inline-flex;
      flex-direction: row;
      width: 100%;
      max-width: none;
      min-height: 300px;
    }
  }

  &--large {
    @include media-breakpoint-up(md) {
      max-width: none;
      min-height: 450px;
    }
  }

  &--full-img {
    @include media-breakpoint-up(md) {}
  }

  &__label {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__summary {
    @at-root .module--story-2 & {
      position: absolute;
      top: $module-story-2-content-padding-x;
      left: $module-story-2-content-padding-x;
      z-index: 1;
      max-width: 14em;
      font-size: 9px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  &__link {
    color: inherit;

    @at-root .module--story & {
      color: inherit;
    }

    &:hover {
      color: color(primary);
      text-decoration: none;

      @at-root .module--story & {
        color: inherit;
      }
    }
  }

  &__img {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;

    @at-root .module--wide & {
      padding: 0;
      height: 100%;
    }
  }

  &__img-height-fix {
    opacity: 0;
    visibility: hidden;
    padding-top: 50%;
    width: 100%;
    height: 0;

    @include media-breakpoint-up(md) {
      padding-top: 74%;
    }

    @at-root .module--simple & {
      padding-top: 50%;
    }

    @at-root .module--story & {
      padding-top: 150%;
    }

    @at-root .moduel--large & {
      @include media-breakpoint-up(md) {
        padding-top: 70%;
      }
    }
  }

  &__img-link {
    @include img-link;
    display: block;
    position: relative;
    width: 100%;

    @at-root .module--full-img:hover & {
      filter: brightness($module-img-hover-filter-brightness);
    }

    @at-root .module--full-img & {
      @include media-breakpoint-up(md) {
        position: static;
      }
    }

    @at-root .module--wide & {
      @include media-breakpoint-up(md) {
        display: block;
        padding: 0;
        width: 50%;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: auto;
    position: relative;
    z-index: 1;
    padding-bottom: $module-padding-y;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;

    @at-root .module--story & {
      justify-content: flex-end;
    }

    @at-root .module--story-2 & {
      padding-top: 12px;
      padding-left: $module-story-2-content-padding-x;
      padding-right: $module-story-2-content-padding-x;
    }

    @include media-breakpoint-up(md) {
      padding-left: $module-padding-x-md;
      padding-right: $module-padding-x-md;
    }

    @at-root .module--wide & {
      @include media-breakpoint-up(md) {
        order: -1;
        margin-top: auto;
        margin-left: 0;
        margin-right: auto;
        padding-top: $module-padding-y + 25px;
        max-width: 55%;
        min-height: 8.5em;
      }
    }
  }

  &__heading {
    margin-top: .7em;
    margin-bottom: .7em;
    line-height: 1.3;
    font-size: 19px;
    word-break: break-word;

    @at-root .module--simple & {
      margin-top: 0.85em;
      line-height: 1.06;
      font-size: 24px;
    }

    @at-root .module--story & {
      margin-top: 1em;
      margin-bottom: 0;
    }

    @at-root .module--story-2 & {
      margin-top: 0;
      margin-bottom: 0;
      line-height: 1.06;
      font-size: 22.5px;
      font-weight: 900;
    }

    @include media-breakpoint-up(md) {
      margin-bottom: 1.3rem;
      font-size: 19px;
    }

    @media (min-width: 1350px) {
      font-size: 24px;
    }

    @at-root .module--large & {
      @include media-breakpoint-up(md) {
        font-size: 30px;
        line-height: 1.1;
      }
    }

    @at-root .module--wide & {
      @include media-breakpoint-up(md) {
        font-size: 30px;
        line-height: 1.1;
      }
    }
  }

  &__content-info {
    margin-top: auto;

    @include media-breakpoint-up(md) {
      font-size: 13px;
    }
  }
}
