.module {
  display: inline-block;
  position: relative;
  padding: 0;
  width: 100%;
  background: #FFF;

  @include media-breakpoint-up(md) {
    display: inline-flex;
    flex-direction: column;
    max-width: 400px;
    width: auto;
    min-height: 350px;
  }

  &--wide {
    @include media-breakpoint-up(md) {
      display: inline-flex;
      flex-direction: row;
      width: 100%;
      max-width: none;
      min-height: 300px;
    }
  }

  &--big {
    @include media-breakpoint-up(md) {
      min-width: 450px;
      min-height: 450px;
    }
  }

  &--full-img {
    @include media-breakpoint-up(md) {}
  }

  &__label {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__img {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;

    @at-root .module--wide & {
      padding: 0;
      height: 100%;
    }
  }

  &__img-container {
    position: relative;
    padding-top: 50%;
    width: 100%;

    @include media-breakpoint-up(md) {
      padding-top: 74%;
    }

    @at-root .module--full-img & {
      @include media-breakpoint-up(md) {
        position: static;
      }
    }

    @at-root .moduel--big & {
      @include media-breakpoint-up(md) {
        padding-top: 70%;
      }
    }

    @at-root .module--wide & {
      @include media-breakpoint-up(md) {
        display: block;
        padding: 0;
        width: 50%;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: auto;
    position: relative;
    padding-top: 13px;
    padding-bottom: $module-padding-y;
    width: 100%;

    @include media-breakpoint-up(md) {
      padding-left: $module-padding-x-md;
      padding-right: $module-padding-x-md;
    }

    @at-root .module--wide & {
      @include media-breakpoint-up(md) {
        order: -1;
        margin-top: auto;
        margin-left: 0;
        margin-right: auto;
        padding-top: $module-padding-y + 25px;
        max-width: 55%;
        min-height: 8.5em;
      }
    }
  }

  &__heading {
    margin-bottom: .7em;
    line-height: 1.3;
    font-size: 19px;

    @include media-breakpoint-up(md) {
      margin-bottom: 1.5em;
      font-size: 24px;
    }

    @at-root .module--big & {
      @include media-breakpoint-up(md) {
        font-size: 30px;
        line-height: 1.1;
      }
    }

    @at-root .module--wide & {
      @include media-breakpoint-up(md) {
        font-size: 30px;
        line-height: 1.1;
      }
    }
  }

  &__content-info {
    margin-top: auto;
  }
}
