.socials {
  margin-bottom: 0;
  list-style: none;
  font-size: 0;

  @include media-breakpoint-up(lg) {
    padding-left: 0;
  }

  &__item {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    max-width: none;
  }

  &__list {
    margin-left: -$socials-items-padding-x;
    margin-right: -$socials-items-padding-x;
  }

  &__link {
      padding-left: $socials-items-padding-x;
      padding-right: $socials-items-padding-x;
      color: color(text);
      text-decoration: none;

      @at-root .socials--theme-light & {
        color: #FFF;
      }

      @at-root .socials--md-theme-light & {
        @include media-breakpoint-up(md) {
          color: #FFF;
        }
      }

      @at-root .socials--lg-theme-dark & {
        @include media-breakpoint-up(lg) {
          color: color(text);
        }
      }

      &:hover {
        color: color(text);
        text-decoration: none;

        @at-root .socials--theme-light & {
          color: #FFF;
        }

        @at-root .socials--md-theme-light & {
          @include media-breakpoint-up(md) {
            color: #FFF;
          }
        }

        @at-root .socials--lg-theme-dark & {
          @include media-breakpoint-up(lg) {
            color: color(text);
          }
        }
      }
  }

  .fa {
    font-size: 15px;
  }
}
