@import '../abstracts/functions';

.author-page {

  &__header {
    @include container;
    margin-bottom: 1px;
    padding-bottom: 23px;
    background: color(white);
    color: color(text);

    @include media-breakpoint-up(md) {
      background: transparent;
      color: color(white);
    }

    @include media-breakpoint-up(md) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
