.content-info {
  font-size: 13px;
  font-weight: bold;
  color: color(primary);

  &__item {
    outline: none;
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }

  &__separator {
    margin-left: $content-info-separator-margin-x;
    margin-right: $content-info-separator-margin-x;

    @at-root .content-info--narrow & {
      margin-left: $content-info-separator-margin-x-narrow;
      margin-right: $content-info-separator-margin-x-narrow;
    }
  }
}
