@import '../abstracts/functions';

.label {
  display: inline-block;
  padding: $label-padding-y $label-padding-x;
  font-size: 9px;
  font-weight: bold;
  line-height: 1;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  color: color(white);
  background-color: color(primary);
  transition: background-color 300ms ease-in-out;

  &:hover {
    text-decoration: none;
    color: color(white);
    background-color: lighten(color(primary), 5%);
  }

  @include media-breakpoint-up(md) {
    padding-left: $label-padding-x-md;
    padding-right: $label-padding-x-md;
  }
}
