@import '../abstracts/functions';

.link {
  color: color(text);
  border-bottom: 1px solid color(text);

  &:hover {
    border-bottom-color: transparent;
    color: color(text);
    text-decoration: none;
  }

  &--large {
    font-size: 18px;

    @include media-breakpoint-up(md) {
      font-size: 21px;
    }
  }
}
