@import '../abstracts/functions';

.load-more-btn {
  border: 0;
  display: block;
  padding: $load-more-btn-padding-y $load-more-btn-padding-x;
  width: 100%;
  font-size: $load-more-btn-font-size;
  font-weight: bold;
  background: color(primary);
  color: color(white);
  transition: background 200ms ease-in-out;
  cursor: pointer;

  &:hover {
    background: lighten(color(primary), 4);
  }
}
