@import '../abstracts/functions';

.show-more {
  display: none;

  @include media-breakpoint-up(md) {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: $short-news-padding-x-md;
    padding-right: $short-news-padding-x-md;
    background: color(white);

    &--reversed-colors {
      background: color(primary);
    }
  }

  &__icon {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
  }

  &__path {
    fill: color(primary);

    @at-root .show-more--reversed-colors & {
      fill: color(white)
    }
  }
}
