mixin socials-item(href, socialClass, { linkClass = '' } = {})
  li.socials__item
    if block
      block
    else
      a.socials__link.brand-link(href=href class=linkClass)
        i(class=socialClass aria-hidden='true')

mixin socials(items, { linkClass = '', searchBtnClass = '' } = {})
  .socials&attributes(attributes)
    ul.socials__list
      each item in items
        +socials-item(item.href, item.socialClass, { linkClass })

      +socials-item
        button.socials__link.brand-link.search-btn(href='#' class=searchBtnClass)
          i.fa.fa-search.search-btn__search-icon(aria-hidden='true')
          i.fa.fa-times.search-btn__close-icon(aria-hidden='true')
