include ../mixins/socials.pug

footer.footer.mt-3
  .footer__inner.container
    .row
      .col-12.col-lg.footer__brand
        a.footer__logo(href='/') НОЖ
        p.footer__subheading Интеллектуальный журнал<br>о культуре и обществе

      .col-12.col-lg.footer__nav
        ul.nav.footer__menu.flex-column.font-weight-bold
          each item in footerNav
            li.nav-item
              a.footer__nav-link(href=item.href)= item.name

        +socials(socials)(class='socials--theme-light footer__socials mt-4')

      .col-12.col-lg-5.footer__text
        p Использование всех текстовых материалов без изменений в некоммерческих целях разрешается со ссылкой на «Нож». Все аудиовизуальные произведения являются собственностью своих авторов и правообладателей и используются только в образовательных и информационных целях. Если вы являетесь собственником того или иного произведения и не согласны с его размещением на нашем сайте, пожалуйста, напишите на <a class="footer__link" href="mailto:hi@knife.media">hi@knife.media</a>
        p Сайт может содержать контент, не предназначенный для лиц младше 18 лет
