<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Project demo</title>
  <link href="../css/app.css" rel="stylesheet"></head>
  <body>
  <script type="text/javascript" src=".././js/app.js"></script></body>
</html>